# run in text mode
text
# network configuration
network --bootproto=dhcp --device=link --activate
# Partioning Setup
clearpart --all --initlabel --disklabel=gpt
reqpart --add-boot
part / --grow --fstype xfs
# --- Container Image Installation --
ostreecontainer --url registry.example.com/rhel9/rhel-bootc:latest
# --- Basic Security ---
#firewall --disabled # Disable the firewall (consider hardening this later)
services --enabled=sshd # Enable SSH service for remote access
# --- Optional User Setup ---
rootpw --iscrypted $6$qfSLEl9IeSNqbxoE$XZpZUj7rhmUhMUGEUhutYz2EVz5/wQCM6UJfj/D97ky1Ha5l1l7sdTrUO332exbnfG6/jqME4PpO7NrYFkf.s. # Password is redhat
user --name=lab-user --groups=wheel --password=redhat
# Timezone
timezone America/Los_Angeles --utc
# --- System Reboot ---
reboot

%pre
curl http://kickstart.example.com/ca.example.com.crt -o /etc/pki/ca-trust/source/anchors/ca.example.com.crt
update-ca-trust
%end

%post
echo "lab-user  ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/lab-user
%end
